<nav class="navbar">
  <div class="logo">CollegeMgmt</div>
  <ul class="nav-links">
    <li><a routerLink="dashboard" class="nav-item">
      <i class="fas fa-tachometer-alt"></i> Dashboard
    </a></li>
    
    <li><a routerLink="academics" class="nav-item">
      <i class="fas fa-book-open"></i> Academics
    </a></li>
    
    <li><a routerLink="administration" class="nav-item">
      <i class="fas fa-cogs"></i> Administration
    </a></li>
    
    <li><a routerLink="communication" class="nav-item">
      <i class="fas fa-comments"></i> Communication
    </a></li>
    
    <li><a routerLink="library" class="nav-item">
      <i class="fas fa-book"></i> Library
    </a></li>
    
    <li><a routerLink="campus-life" class="nav-item">
      <i class="fas fa-users"></i> Campus Life
    </a></li>
    
    <li><a routerLink="support" class="nav-item">
      <i class="fas fa-question-circle"></i> Support
    </a></li>
  </ul>
</nav>